@charset "UTF-8";

/*reset start*/
*{
color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*reset end*/
a {
    text-decoration: none;
}
a:link {color: #333;}
a:visited {color: #333;}
a:hover {color: #444;}
a:active {color: #333;}

ul {
    list-style: none;
}
/*reset start*/

div#wrap {
    width: 600px;
/*    border: 1px solid #000;*/
    margin: 0 auto;
}

/* single start */

div#tabarea {
    width: 330px;
    padding: 10px;
    margin: 10px;
/*    border: 1px solid #000;*/
}

button {
    font-size: 18px;
    font-weight: bold;
    padding: 1px 10px;
    border: 1px solid #aaa;
    border-bottom: none;
    margin-left: 30px;
    position: relative;
    top: 1px;
}

div#tabcontent {
    border: 1px solid #aaa;
    padding: 26px 10px;
    display: inline-block;
}
/* single end */
